<!DOCTYPE html>
<html>
  <head>
    <% include partial/head.ejs %>
  </head>

  <body>
    <% include partial/header.ejs %>

    <!-- content here!! -->

    <% indlude partial/footer.ejs %>
  </body>
</html>
