<!DOCTYPE html>
<html>
  <head>
    <% include partials/head.ejs %>
  </head>

  <body>
    <% include partials/header.ejs %>

    <!-- contene here!! -->
    <h1>INDEX</h1>
    <p>This is Index</p>

    <% include partials/footer.ejs %>
  </body>
</html>
